{% extends 'base.html.twig' %}

{% block body %}

<div>
    <p>
        ur logged in as teacher!
    </p>
</div>
{#    {% if app.user %}#}
{#        <div class="mb-3">#}
{#            You are logged in as {{ app.user.userIdentifier }},#}
{#        </div>#}
{#    {% endif %}#}
{#    <a href="{{ path('app_logout') }}">Logout</a>#}
{#{% endblock %}#}

{#{% block title %}#}

{% endblock %}

