{% extends 'base.html.twig' %}

{% block title %}Hello BezoekerController!{% endblock %}

{% block body %}
    <div class="position-absolute top-0 start-50 translate-middle-x"><h1>WELCOME REGISTREER HIER</h1></div>

    {{ form(form) }}
{% endblock %}
